.divImage {
    width:760px;
    height: 737px;
}

input {
    width:400px;
}

.container {
    width:775px;
}

#hu {
    height: 737px;
}

#back-image{
    width:760px;
    height:737px;
}

button {
    width: 400px;
}